TestProject/TestProject.xcodeproj/project.pbxproj
TestProject/TestProject.xcodeproj/project.xcworkspace/contents.xcworkspacedata
TestProject/TestProject.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
